@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #e6e7ee;
}

.container{
	position: relative;
	width: 400px;
	height: 400px;
}

ul.thumb{
	position: absolute;
	top: 50%;
	transform: translateY(-55%);
	z-index: 1;
}

ul.thumb li{
	list-style: none;
	width: 100px;
	height: 100px;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgb(184, 185, 190) 3px 3px 6px, rgb(255, 255, 255) -3px -3px 6px;
	background-color: #e6e7ee;
	border-radius: 24px;
	backdrop-filter: blur(6px);
}

ul.thumb li img{
	width: 80%;
	transition: 0.5s;
}

ul.thumb li:hover{
	box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}

ul.thumb li img:hover{
	transform: rotate(15deg);
}

.imgbox{
	position: absolute;
	top: 0;
	right: 0;
	padding: 60px 20px;
	width: 350px;
	height: 100%;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	box-shadow: rgb(184, 185, 190) 3px 3px 6px, rgb(255, 255, 255) -3px -3px 6px;
	background-color: #e6e7ee;
	border-radius: 24px;
	
}

.imgbox h2{
	color: black;
	letter-spacing: 1px;
}

.imgbox img{
	width: 80%;
	transition: 0.5s;
}

.imgbox img:hover{
	transform: scale(1.1);
}

.size{
	display: flex;
	justify-content: center;
	align-items: center;
}

.size li{
	list-style: none;
	width: 30px;
	height: 30px;
	color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6px;
	font-weight: 300;
	box-shadow: rgb(184, 185, 190) 3px 3px 6px, rgb(255, 255, 255) -3px -3px 6px;
	background-color: #e6e7ee;
	transition: 0.3s;
}

.size li:hover{
	transform: translateY(-5px);
	box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}

.btn{
	position: absolute;
	bottom: -35px;
	background-color: #e6e7ee;
	box-shadow: rgb(184, 185, 190) 3px 3px 6px, rgb(255, 255, 255) -3px -3px 6px;
	border-radius: 30px;
	text-decoration: none;
	display: inline-block;
	padding: 15px 30px;
	font-weight: 300;
	color: red;
	transition: 0.5s;
}

.btn:hover{
	letter-spacing: 1px;
	box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}